@{
    Layout = "~/Views/Shared/Layouts/Light/_LightOneColumnLayout.cshtml";
}

@section MainContent {        
    <div class="row">
        <div class="col-sm-6 col-md-6 contact-info bottom-padding">
            <div class="row">
                <address class="col-sm-6 col-md-6">
                    @RenderSection("Address", false)
                </address>
                <address class="col-sm-6 col-md-6">
                    @RenderSection("Social", false)
                </address>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 bottom-padding">
            @RenderSection("Form", false)
        </div>

        <div class="map-box col-sm-12 col-md-12">
            @RenderSection("Map", false)
        </div>
    </div>
}

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", false)
}