@{
    Layout = "~/Views/Shared/Layouts/Light/_LightOneColumnLayout.cshtml";
}

@section MainContent {
    <div class="row">
        <div class="content col-sm-12 col-md-12 bottom-padding">
            @RenderSection("Content1", false)
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6 bottom-padding">
            @RenderSection("Content2", false)
        </div>

        <div class="col-sm-6 col-md-6 bottom-padding">
            @RenderSection("Content3", false)
        </div> 
    </div>
 
    <div class="row">
        <div class="col-sm-12 col-md-12 bottom-padding">
            @RenderSection("Content4", false)
        </div>
    </div> 


}

@section HeadScripts {
    <link href="/Content/Styles/bcms.light.gallery.css" rel="stylesheet" />
}

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", false)
    @Html.Partial("Layouts/Light/Partial/_GalleryScripts")
    <script src="@Url.Content("~/Scripts/gallery.home.js")"></script>
}