@{ Layout = "~/Areas/bcms-Root/Views/Shared/BaseLayout.cshtml"; }
@model BetterCms.Module.Root.ViewModels.Cms.RenderPageViewModel
@using BetterCms.Module.Root.Mvc.Helpers

@section BodyAttributes
{
    class="boxed fixed-header"
}
@section BodyTag {
    <!--[if lte IE 8]>
    <body class="ie8 fixed-nav faded"@Html.RenderBodyAttributes()><![endif]-->
    <!--[if IE 9]>
    <body class="ie9 fixed-nav faded"@Html.RenderBodyAttributes()><![endif]-->
    <!--[if !IE]><!-->
    <body class="fixed-nav faded" @Html.RenderBodyAttributes()>
        <!--<![endif]-->
}

@section HeadScripts {
    <meta charset="utf-8" />
    <link href="/Content/Styles/bcms.light.layout.css" rel="stylesheet" />
    <link href="/Content/Styles/bcms.light.content.css" rel="stylesheet" />

    <!-- Font -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic'>

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/Content/Styles/Revolution/buttons/buttons.css">
    <link rel="stylesheet" href="/Content/Styles/Revolution/buttons/social-icons.css">
    <link rel="stylesheet" href="/Content/Styles/Revolution/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/Styles/Revolution/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/Styles/Revolution/jslider.css">
    <link rel="stylesheet" href="/Content/Styles/Revolution/settings.css">
    <link rel="stylesheet" href="/Content/Styles/Revolution/jquery.fancybox.css">
    <link rel="stylesheet" href="/Content/Styles/Revolution/animate.css">
    <link rel="stylesheet" href="/Content/Styles/Revolution/video-js.min.css">
    <link rel="stylesheet" href="/Content/Styles/Revolution/morris.css">
    <link rel="stylesheet" href="/Content/Styles/Revolution/royalslider/royalslider.css">
    <link rel="stylesheet" href="/Content/Styles/Revolution/royalslider/skins/minimal-white/rs-minimal-white.css">
    <link rel="stylesheet" href="/Content/Styles/Revolution/layerslider/layerslider.css">
    <link rel="stylesheet" href="/Content/Styles/Revolution/ladda.min.css">
    <link rel="stylesheet" href="/Content/Styles/Revolution/datepicker.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/Content/Styles/Revolution/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/Content/Styles/Revolution/responsive.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/Content/Styles/Revolution/customizer/pages.css">
    <link rel="stylesheet" href="/Content/Styles/Revolution/customizer/home-pages-customizer.css">

    <!-- IE Styles-->
    <link rel='stylesheet' href="/Content/Styles/Revolution/ie/ie.css">

    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/modernizr.js")"></script>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <link rel='stylesheet' href="/Content/Styles/Revolution/ie/ie8.css">
    <![endif]-->
    @RenderSection("HeadScripts", false)
}

@section Scripts {
    <script src="//codeorigin.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="@Url.Content("~/Scripts/onload.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/Scripts/validation.extenders.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.accordion.js")"></script>
    <script src="@Url.Content("~/Scripts/slides.min.jquery.js")"></script>
    <script src="@Url.Content("~/Scripts/messages.js")"></script>
    <script src="@Url.Content("~/Scripts/forms.js")"></script>

    @RenderSection("Scripts", false)
}

<div class="page">
    <header class="page-header">
        <div class="page-frame clearfix">
            <a href="/" class="logo">
                <img src="/Content/images/logo.png" alt="DST Controls" />
            </a>
            <nav class="page-navigation" id="site-nav">
                @*@{ Html.RenderAction("Index", "SiteMap", new { area = "" }); }*@
                @{ Html.RenderAction("Index", "DSTSiteMap", string.Empty); }
            </nav>
        </div>
    </header>

    <div class="page-block">

        <div class="default-messages-container">
            <div class="error-user-message-container">
                <ins class="icon-static"></ins>
                <div class="error user-message">
                </div>
            </div>
            <div class="success-user-message-container">
                <ins class="icon-static"></ins>
                <div class="success user-message">
                </div>
            </div>
        </div>

        <div class="page-frame clearfix">
            @RenderSection("MainContent", false)
            @RenderBody()
        </div>
    </div>
</div>

<footer class="page-footer">
    <div class="page-frame clearfix">
        <span class="copyright">&copy; @DateTime.Now.Year Better CMS</span>
    </div>
</footer>